# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
vrpy-workspace.code-workspace
examples/OpenGLUtils.py
examples/singlelane.py
examples/benchmarks/run/run_old.py
.vscode/launch.json
.vscode/settings.json
examples/benchmarks/data/cvrp/A-n32-k5.sol
examples/benchmarks/data/cvrp/A-n33-k5.sol
examples/benchmarks/data/cvrp/A-n33-k5.vrp
examples/benchmarks/data/cvrp/A-n33-k6.sol
examples/benchmarks/data/cvrp/A-n33-k6.vrp
examples/benchmarks/data/cvrp/A-n34-k5.sol
examples/benchmarks/data/cvrp/A-n34-k5.vrp
examples/benchmarks/data/cvrp/A-n36-k5.sol
examples/benchmarks/data/cvrp/A-n36-k5.vrp
examples/benchmarks/data/cvrp/A-n37-k5.sol
examples/benchmarks/data/cvrp/A-n37-k5.vrp
examples/benchmarks/data/cvrp/A-n37-k6.sol
examples/benchmarks/data/cvrp/A-n37-k6.vrp
examples/benchmarks/data/cvrp/A-n38-k5.sol
examples/benchmarks/data/cvrp/A-n38-k5.vrp
examples/benchmarks/data/cvrp/A-n39-k5.sol
examples/benchmarks/data/cvrp/A-n39-k5.vrp
examples/benchmarks/data/cvrp/A-n39-k6.sol
examples/benchmarks/data/cvrp/A-n39-k6.vrp
examples/benchmarks/data/cvrp/A-n44-k6.sol
examples/benchmarks/data/cvrp/A-n44-k6.vrp
examples/benchmarks/data/cvrp/A-n45-k6.sol
examples/benchmarks/data/cvrp/A-n45-k6.vrp
examples/benchmarks/data/cvrp/A-n45-k7_2.sol
examples/benchmarks/data/cvrp/A-n45-k7.sol
examples/benchmarks/data/cvrp/A-n45-k7.vrp
examples/benchmarks/data/cvrp/A-n46-k7.sol

examples/benchmarks/data/cvrp/A-n32-k5.sol
examples/benchmarks/data/cvrp/A-n33-k5.sol
examples/benchmarks/data/cvrp/A-n33-k5.vrp
examples/benchmarks/data/cvrp/A-n33-k6.sol
examples/benchmarks/data/cvrp/A-n33-k6.vrp
examples/benchmarks/data/cvrp/A-n34-k5.sol
examples/benchmarks/data/cvrp/A-n34-k5.vrp
examples/benchmarks/data/cvrp/A-n36-k5.sol
examples/benchmarks/data/cvrp/A-n36-k5.vrp
examples/benchmarks/data/cvrp/A-n37-k5.sol
examples/benchmarks/data/cvrp/A-n37-k5.vrp
examples/benchmarks/data/cvrp/A-n37-k6.sol
examples/benchmarks/data/cvrp/A-n37-k6.vrp
examples/benchmarks/data/cvrp/A-n38-k5.sol
examples/benchmarks/data/cvrp/A-n38-k5.vrp
examples/benchmarks/data/cvrp/A-n39-k5.sol
examples/benchmarks/data/cvrp/A-n39-k5.vrp
examples/benchmarks/data/cvrp/A-n39-k6.sol
examples/benchmarks/data/cvrp/A-n39-k6.vrp
examples/benchmarks/data/cvrp/A-n44-k6.sol
examples/benchmarks/data/cvrp/A-n44-k6.vrp
examples/benchmarks/data/cvrp/A-n45-k6.sol
examples/benchmarks/data/cvrp/A-n45-k6.vrp
examples/benchmarks/data/cvrp/A-n45-k7_2.sol
examples/benchmarks/data/cvrp/A-n45-k7.sol
examples/benchmarks/data/cvrp/A-n45-k7.vrp
examples/benchmarks/data/cvrp/A-n46-k7.sol
